.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  font-family: "Poppins", sans-serif;
  background-color: rgba(44, 44, 44, 0.849);
  border-radius: 20px;
  border: 2px solid white;
  top: 0;
  z-index: 999;
  color: white;
}

.navLeft {
  flex: 3;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navCenter {
  display: flex;
  background-color: rgb(44, 44, 44);
  align-items: center;
  padding: 0px 1px 0px 8px;
  border-radius: 30px;
  flex: 5;
}

.SearchInputs {
  padding: 0px 8px;
  width: 100%;
  height: 49px;
  background-color: rgba(44, 44, 44, 0.849);
  color: white;
  border-radius: 30px;
  font-size: 15px;
  border: none;
}

.SearchInputs:focus {
  outline: none;
}

.navright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 4;
  padding: 0px 20px;
}

.navbarLinks,
.navBarIcons {
  display: flex;
  gap: 10px;
  font-size: 18px;
}
.kuch {
  margin-left: -15px;
}

.navBarIconBadge {
  background-color: #cc2828; /* Customize badge color */
  color: #fff;
  border-radius: 50%;
  padding: 1px 6px;
  margin-left: -60%;
  font-size: 0.6rem;
}

.navbarImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
